@model HomeIndexViewModel

@{
    // don't believe this is necessary
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dungeon and Dragons: Star Wars Themed!</h1>
</div>

<hr />


<div class="container mt-5">
    <div class="row justify-content-center align-items center">
        <h2 class="display-4">Select Scenario</h2>
         @Html.DropDownList("Id", Model.FilmSelectList as SelectList, "Select Film", new {@class = "form-control"})
    </div>
</div>