@model HomeIndexViewModel
<style>
    body {background-color: white;} 
</style>
@{
    // don't believe this is necessary
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dungeon and Dragons: Star Wars Themed!</h1>
</div>

<hr />


<div class="container mt-5">
    <div class="row justify-content-center align-items center">
        <form asp-action="Scene_Selection" asp-controller="Scene" name="sceneselection" method="post">
            <h2 class="display-7">Curate your game by choosing your favorite character and movie! </h2>
            <label asp-for="FilmSelectList" class="form-label">Films</label>
            @Html.DropDownList("Film", Model.FilmSelectList as SelectList, new {@class = "form-control"})
            <p class="text-danger">

            </p>
            <label asp-for="CharacterSelectList" class="form-label">Characters</label>
            @Html.DropDownList("Character", Model.CharacterSelectList as SelectList, new {@class = "form-control"})
            <p class="text-danger">
                
            </p>
            <div class="mb-3">
                <!-- use the name "login" or "submit" for error handling when we use in C#-->
                <button type="submit" name="dfs" class="btn btn-primary">Generate Scenario</button>
            </div>
        
        </form>
        <div/>
    </div>
</div>