@model MessageModel;

@{
    ViewData["Title"] = "Scene_Selection";
   // var message = ViewData["Message"] as MessageModel;
                       //@Html.DisplayFor(modelItem => modelItem.Message)

}

<div class="container">
    <div class="row align-items-center">
        <div class="card" style="width: 100rem;">
            <div class="card-body">
                <h5 class="card-title">The Adventure Begins</h5>
                <p class="card-text"></p>
                <p>
                    @Html.DisplayFor(modelItem => modelItem.Message)
                </p>
                <form asp-action="Conversation" asp-controller="Scene" name="userresponse" method="post">
                    <div class="form-group">
                        <input asp-for="UserResponse" class="form-control" placeholder="May The Force Be With You..." />
                    </div>
                    <p class="text-danger">

                    </p>
                    <div class="mb-3">
                        <button type="submit" name="response" class="btn btn-primary">Submit Response</button>
                    </div>
                </form>
                
             </div>
        </div>
    </div>
</div>
